body {
  background-image: url(./images/2.png);
  margin-top: 25px;
}
.box {
  display: inline-block;       
  border: 1px solid black;
  width: 15px;
  height: 15px;
  margin-left: -1px;
  margin-bottom: -1px;
}
.off {
  background-color: lightgray;
}
.on {
  background-color: teal;
}
.box:hover { 
  background: #00CCFF;
}
.center {
  margin: auto;
  display: table;
  margin-top: 10px;
}
.grid {
  width: 150px;
  line-height: 0;
  margin: auto;
  box-shadow: 0px 0px 20px white;
  margin-top: 20px;
}
h1, h2, h3, h4 {
  color: white;
  margin: auto;
  text-align: center;
  width: 50%;
  margin-top: 10px;
}
h4 {
  margin-top: 0px;
}
.container {
  margin-top: 10px;
  height: 100%;
  width: 100%;
}
.middle-content {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.middle-left {
  border: solid 1px darkkhaki;
  padding-left: 20px;
  padding-right: 20px;
}
.middle {
  padding: 20px;
  width: 15%;
  border: solid 1px darkkhaki;
  background-color: lightgray;
}
.middle-right {
  padding: 20px;
  width: 20%;
  line-height: 30px;
  border: solid 1px darkkhaki;
  background-color: lightgray;
}

.middle-right .about {
 font-weight: bold;
 font-size: 1.3rem;
 text-decoration: underline;
}
